doctype html
head
  title ED2TTS
  // link(href='https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css' rel='stylesheet')
  // script(src='https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js')
h1 Encoredecks.com deck exporter for Tabletop Simulator
#container.col
  h2 About
  p
    | This is a website which helps you create Tabletop Simulator Weiss Schwarz card decks using pre-made decks found on 
    a(href='https://encoredecks.com/') encoredecks.com
    | .

  p
    | To get started, find a deck on 
    a(href='https://encoredecks.com/') encoredecks.com
    |  that you would like to import into Tabletop Simulator.

  p
    | For example, we will use 
    a(href="https://www.encoredecks.com/deck/ZT1ZXFQkp") My First Miku Deck
    | . In this case, the URL is https://www.encoredecks.com/deck/ZT1ZXFQkp. From the URL we can see that the  
    strong Encoredecks Deck ID
    |  is ZT1ZXFQkp. 
    
    
  p
    | Simply copy the 
    strong Encoredecks Deck ID
    |  into this website, and this website will generate a deck image which is suitable for importing into Tabletop Simulator.
    
  h2 Example
  
  p
    | https://www.encoredecks.com/deck/ZT1ZXFQkp becomes 
    a(href=`//${domain}/deck/ZT1ZXFQkp`) #{domain}/deck/ZT1ZXFQkp


  h2 Future Improvements
  ul
    li hi-res card images.
    
  h2 Author
  p Chris Grimmett #[a(href="mailto:chris@grimtech.net") chris@grimtech.net]
